<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deri10119292.sqlitecrud" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Harianku10119292"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SqliteCrud" >
        <activity
            android:name="com.deri10119292.sqlitecrud.TentangAplikasi"
            android:exported="false" />
        <activity
            android:name="com.deri10119292.sqlitecrud.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.deri10119292.sqlitecrud.LihatCatatanActivity"
            android:exported="false"
            />
        <activity
            android:name="com.deri10119292.sqlitecrud.UpdateCatatanActivity"
            android:exported="false" />
        <activity
            android:name="com.deri10119292.sqlitecrud.TambahCatatanActivity"
            android:exported="false" />
        <activity
            android:name="com.deri10119292.sqlitecrud.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>